#streaming-media-views-transcode .poster-radio .form-item {
  position: relative;
}

#streaming-media-views-transcode .poster-radio .form-item input {
  position: absolute;
  top: 16px;
  left: 0;
  height: 2em;
  width: 2em;
}

#streaming-media-views-transcode .poster-radio .form-item label {
  padding-left: 16px;
}

/* Quality Selector */
.vjs-icon-cog {
  font-size: 1.6em;
  font-weight: bold;
}

.vjs-icon-cog::before {
  content: "HD";
}
