{{ attach_library('streaming_media_views/videojs') }}

<h2>{{ 'Preview'|trans }}: {{ result['settings']['video-data']['name'] }}</h2>

{% if result['status'] %}
  <video id="streaming-video-player-{{ random() }}" class="video-js" controls preload="metadata"
    {% if result['media-poster-preview'] %}
      poster="{{ result['media-poster-preview'] }}"
    {% endif %}
  >
    <source src="{{ result['playlist']['url']['playlist_real_url'] }}" type="application/x-mpegURL">
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>

  <div class="form">

    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}

    {{ form }}
  </div>
{% else %}
  <p>{{ result['message'] }}</p>
{% endif %}
